/* For mobile */
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  main {
    width: 100%;
  }
}

/*FOR ALL STYLES:*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  font-family: "DM Mono", monospace;
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

h1 {
  padding: 10px;
  background-color: #efe8ce;
  text-transform: uppercase;
  font-size: 2em;
  color: #00388b;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.container {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
/*FOR LEFT SIDE:*/
aside {
  padding: 20px;
  background-color: #b1afb1;
  text-align: center;
  padding-top: 30px;
  justify-content: center;
  color: white;
}

aside li {
  margin-left: 20px;
}

.Image-info h2 {
  margin-top: 10px;
  font-size: 26px;
}
.Image-Container {
  max-width: 100%;
  margin: 0 auto;
  width: 450px;
}

.Image-Container img {
  max-width: 100%;
  height: auto;
}

.container-inside-aside {
  margin: 0 auto;
}

aside hr {
  border: none;
  border-top: 3px solid white;
  margin-top: 15px;
}

.About-info {
  display: flex;
  margin-top: 15px;
  overflow-wrap: break-word;
  align-items: center;
}

.Text-container {
  max-width: 100%;
  width: 450px;
  text-align: left;
  margin: 0 auto;
  font-weight: 700;
}

.Skills-container {
  width: 450px;
  text-align: left;
  margin: 0 auto;
  max-width: 100%;
}

.Personal-container {
  width: 450px;
  text-align: left;
  margin: 0 auto;
  max-width: 100%;
  word-wrap: break-word;
}

/*right side*/
main {
  background-color: white;
  flex: 1;
  padding: 0 20px 20px 20px;
}
.main-container {
  max-width: 600px;
  margin: 0 auto;
}
main h2 {
  margin: 30px auto;
  color: #00388b;
}
main hr {
  border: none;
  border-top: 3px solid black;
  margin-top: 30px;
}
.Study dt {
  color: #00388b;
  font-weight: 700;
  margin-top: 10px;
}

main li {
  margin-left: 30px;
}
main p,
main li,
main dt,
main dd {
  word-wrap: break-word;
}
